@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/*------------------------------- navigationBar---------------------- */
nav{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    z-index: 11;
    background-color: white;
    width:100%;
    padding:0px 30px;
    justify-content: space-between;
}
/* companyLogo */
nav>img[alt="Dassault System"]{
    height:70px;
    margin: 10px 0px;
    object-fit:cover;
}
/* submenu */
nav>.submenu{
    display: flex;
    gap:30px;
    align-items: center;
}
nav>.submenu .menu>a{
    font-size: 25px;
    text-transform:capitalize;
    text-decoration:none;
    color:black;
}
nav>.submenu>div{
    height:90px;
    padding-top:35px ;
}
nav>.submenu>div{
    border-bottom: 3px solid transparent;
}
    /* barIcon */
nav>label .fa-bars{
    display: none;
}
/* ------------------------------------------submenu dropdown----------------------------------- */
nav .submenu>.menu:first-child:hover{
    border-bottom:3px solid #164863;
} 
nav .submenu>.menu:nth-child(2){
    border-bottom:3px solid #4F6F52;
} 
nav .submenu>.menu:nth-child(3):hover{
    border-bottom:3px solid #116530;
} 
nav .submenu>.menu:nth-child(4):hover{
    border-bottom:3px solid #CD5C08;
} 
nav .submenu>.menu:last-child:hover{
    border-bottom:3px solid #D80032;
}
nav .submenu>.menu:nth-child(1){
    border-bottom:3px solid white;
    transition: all 1s;
}
nav .submenu>.menu:nth-child(3){
    border-bottom:3px solid white;
    transition: all 1s;
}
nav .submenu>.menu:nth-child(4){
    border-bottom:3px solid white;
    transition: all 1s;
}
nav .submenu>.menu:nth-child(5){
    border-bottom:3px solid white;
    transition: all 1s;
}

nav .submenu .menu .dropdown{
    position:absolute;
    top:92px;
    left:50px;
    width:calc(100% - 100px);
    padding:40px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    column-gap: 20px;
    visibility: hidden;
    transition: all 0.1s;
    background-color: white;
    z-index:10;
}
nav .submenu .menu:hover .dropdown{
    visibility:visible;
}

/* dropdown headings h3*/
nav .submenu .menu .dropdown div h3{
    text-transform: capitalize;
    padding-bottom:20px;
    line-height: 25px;
    text-decoration:none;
}
nav .submenu .menu .dropdown div h3>a{
    text-decoration: none;
}
nav .submenu .menu .dropdown div h3>a:hover{
   text-decoration: underline 2px;
}
/* webtv that convert into inline */
nav .submenu .menu .dropdown>div div h3{
    display: inline-block;
}
/* anchor that convert into block */
nav .submenu .menu .dropdown div a{
    display:block;
    color: black;
}

/* anchor that convert into block */
nav .submenu .menu .dropdown div .anchor{
    display:inline-block;
}
nav .submenu .menu .dropdown div .pad-top{
    padding-top:20px;
}
nav .submenu .menu .dropdown div>a{
    padding-bottom:7px;
    line-height: 20px;
    text-decoration: none;
}
nav .submenu .menu .dropdown div>a:hover{
    text-decoration: underline;
}
/* navIcons */
nav>.navicons{
    font-size: 25px;
    display: flex;
    gap:40px;
    align-items: center;
    border-bottom: 3px solid transparent;
}
nav>.navicons i{
    height: 90px;
    padding-top: 35px;
    border-bottom: 3px solid transparent;
    transition: all 1s;
}
nav>.navicons .icon>i:hover{
    border-bottom: 3px solid #4F6F52;
}
/* -----------camera,wrench,magnifier dropdown ------------*/
nav>.navicons .icon>.dropdown{
    position:absolute;
    top:92px;
    left:67%;
    padding:20px;
    display: none;
    z-index:10;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
nav>.navicons .icon>.dropdown>div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    height:50px;
}
nav>.navicons .icon>.dropdown>div span{
    text-transform:capitalize;
    font-size:18px;
    text-decoration: underline transparent;
}
nav>.navicons .icon>.dropdown>div span:hover{
    text-decoration: underline;
}
nav>.navicons .icon:hover .dropdown{
    display:block;
}
/* wrench */
nav>.navicons .wrench>.dropdown{
    left:65%;
    width:400px;
    padding:20px 30px;
}
/* magnifier */
nav>.navicons .magnifier>.dropdown{
    position: absolute;
    top:92px;
    left:10%;
    width:calc(100% - 20%);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display:flex;
    align-items: center;
    background-color: white;
    z-index:10;
    padding:10px 0px;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
nav>.navicons .magnifier #mag:checked~.dropdown{
    display:flex;
}
nav>.navicons .magnifier .dropdown input{
    display: block;
    width:calc(100% - 30%);
    height:50px;
    outline:none;
    font-size: 20px;
    padding-left: 10px;
}

/* label_input */
nav>label,nav input{
    display:none;
}
/* barIcon */
nav>label i{
    font-size:30px;
    background-color: coral;
}
/* selectLanguage */
select{
    font-size: 20px;
    outline: none;
    border: none;
    transition: all 1s;
    border-bottom: 3px solid transparent;
}
select:hover{
    border-bottom: 3px solid #4F6F52;
}
/* mediaQurey */
@media only screen and (min-width:200px) and (max-width:1275px){
    nav>.submenu{
        position:absolute;
        top:50px;
        right:-100%;
        justify-content: center;
        flex-direction: column;
        gap:10px;
        width:calc(100% - 30%);
        width:470px;
        align-items: center;
        padding: 20px 0;
        background-color:white;
        transition: all 0.5s;
        z-index:10;
    }
    nav>#lbl:checked~.submenu{
        display: flex;
        right:0;
    }
    nav>.submenu .menu>a{
       height: fit-content;
    }
    nav>.navicons .fa-camera,nav>.navicons .fa-wrench{
        display: none;
    }
    nav>.navicons label>.fa-magnifying-glass{
        position: absolute;
        top:0;
        padding-top:13px ;
        right:65px;
    }
    nav>.navicons i{
        height: 0px;
        padding-top: 20px;
    }
    select{
        display: none;
    }
    nav{
        height:50px;
        padding-left:10px;
    }
    /* label */
    nav>label{
        display:block;
    }
    /* barIcon */
    nav>label .fa-bars{
        display: grid;
        position: absolute;
        right:0;
        top:0;
        color:white;
        padding:10px;
    }
    /* companyLogo */
    nav>img[alt="Dassault System"]{
        height:40px;
        margin:5px 0px;
    }
    /* showing nav dropdown when hover */
    nav .submenu .menu .dropdown>div>a,nav .submenu .menu .dropdown>div .anchor,nav .submenu .menu .dropdown>div .fa-arrow-up-right-from-square {
        display: none;
    }
    nav .submenu .menu .dropdown>div>h3:hover~a,nav .submenu .menu .dropdown>div>h3:hover~div .anchor,nav .submenu .menu .dropdown>div .fa-arrow-up-right-from-square:hover .fa-arrow-up-right-from-square {
        display: grid;
    }
    /* dropdown headings h3*/
    nav .submenu .menu .dropdown div h3{
       padding-bottom:10px;
    }
    /* magnifier */
    nav>.navicons .magnifier .dropdown i{
        height:10px;
        padding:0;
        padding-bottom: 20px;
    }
    nav>.navicons .magnifier>.dropdown{
        top:50px;
    }
    /* magnifier */
    nav>.navicons .magnifier>.dropdown{
        left:0%;
        width:calc(100% - 0%);
        padding:10px 0px;
    }
    
}
@media only screen and (min-width:200px) and (max-width:475px){
    nav>.submenu{
        width:100%;
        padding:30px;
    }
    nav>.submenu>div{
        height:fit-content;
        padding-top:0px;
    }
    nav .submenu .menu .dropdown{
        padding:20px;
        top:calc(100% - 0%);
        left:0;
        width:100%;
    }
    /* magnifier dropdown search letter */
    nav>.navicons .magnifier .dropdown label{
       display: none;
    }
    nav>.navicons .magnifier .dropdown input{
        border:1px solid  #427D9D ;
    }
    nav>.navicons label>.fa-magnifying-glass{
        padding-top:15px;
        right:60px;
    }

}
/* anchor */
nav .submenu .menu .group div h3>a{
    color:#164863;
}
nav .submenu .menu .defense div h3>a{
    color:#4F6F52;
}
nav .submenu .menu .civil div h3>a{
    color:#116530;
}
nav .submenu .menu .space div h3>a{
    color:#CD5C08;
}
nav .submenu .menu .passion div h3>a{
    color:#D80032;
}
/* --------------------------------------body content --------------------------------------------*/
/* ------------defense_introduction */
section>.defense-intro{
    margin-top:93px;
    position: relative;
    background-color: aquamarine;
    height:550px;
}
section>.defense-intro>img{
    width:100%;
    height: 100%;
}
/* copyright */
section>.defense-intro>p{
    position: absolute;
    padding:7px 10px;
    width: 80%;
    bottom: 0;
    color: white;
    transition: all 0.5s;
    background-color: rgba(116, 145, 115,0.5);
}
section>.defense-intro>p:hover{
    color: white;
    background-color: #4F6F52;
}
/* chevron */
section>.defense-intro>div{
    position: absolute;
    bottom:0;
    right:4%;
}
section>.defense-intro>div .icon i{
    color:white;
    padding:15px 30px;
    font-size: 25px;
    transform: skewX(10deg);
}
section>.defense-intro>div .icon{
    display: flex;
    gap: 15px;
    margin-top: 65px;
    position: absolute;
    z-index: 10;
    right:107%;
}
section>.defense-intro>div .icon>div{
    transform: skewX(-30deg);
    background-color:#4F6F52;
    transition: all 0.5s;
}
section>.defense-intro>div .icon>div:hover{
    background-color: white;
}
section>.defense-intro>div .icon>div:hover i{
    color:#4F6F52;
}
/* defense letter */
section>.defense-intro>div>.para{
    background-color:white;
    overflow: hidden;
    width: fit-content;
    transition: all 0.5s;
    transform: skewX(-30deg);
    border-left: 15px solid #4F6F52;
}
section>.defense-intro>div>.para:hover{
    border-left: 15px solid white;
    background-color:#4F6F52;
}
section>.defense-intro>div>.para:hover p{
    color: white;
}
section>.defense-intro>div>.para p{
    color:#4F6F52;
    padding:40px 200px 30px 40px;
    font-size: 50px;
    transform: skewX(30deg);
    font-weight: bolder;
    text-transform: uppercase;
}
@media only screen and (min-width:300px) and (max-width:1275px){
/* --------------------------------------body content --------------------------------------------*/
/* ------------defense_introduction */
section>.defense-intro{
    padding-bottom:82px;
    background-color: #4F6F52;
    margin-top:50px;
}
/* copyright */
section>.defense-intro>p{
    width: 100%;
    bottom:14.7%;
    font-size: 13px;
}
/* chevron */
section>.defense-intro>div{
    right:0%;
    left: 0;
    bottom:14.7%;
}
section>.defense-intro>div .icon{
    right: 0;
    gap:0px;
    bottom: 10%;
}
section>.defense-intro>div .icon>div{
    transform: none;
}
section>.defense-intro>div .icon>div i{
    transform: none;
    padding: 15px 20px;
}
/* defense letter */
section>.defense-intro>div>.para{
    position: absolute;
    left:-50px;
    right:0;
    bottom:-81px;
    width:calc(100% - 3%);
    padding-left: 30px;
}
section>.defense-intro>div>.para p{
    color:#4F6F52;
    padding:30px 200px 20px 40px;
    font-size: 30px;
}
}
@media only screen and (min-width:300px) and (max-width:600px){
/* ------------defense_introduction */
section>.defense-intro{
    height:500px;
    padding-bottom:82px;
}
/* copyright */
section>.defense-intro>p{
    bottom:16.5%;
}
/* chevron */
section>.defense-intro>div{
    bottom:81px;
}
section>.defense-intro>div .icon{
    bottom:0px;
}
}
/* --------------------------------------------------------headlines */
section>.headline{
    padding:50px;
}
/* straight line */
section>.headline>.title{
    position: relative;
    bottom: 6px;
    display: flex;
    align-items: flex-end;
    gap:10px;
}
section>.headline>.title>p{
    background-color:#4F6F52;
    height:3px;
    width:240px;
    position: absolute;
    left:150px;
    bottom:3px;
}
section>.headline>.title>span{
    display:block;
    height:10px;
    width:50px;
    background-color:#4F6F52;
    position: absolute;
    left:360px;
    bottom:3px;
    transform: skewX(30deg);
}
/* headline-content-------------- */
section>.headline>.content{
    margin-top: 50px;
    display: grid;
    row-gap: 40px;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
/* image */
section>.headline>.content>.image{
    margin-bottom: 20px;
}
section>.headline>.content>.image>img{
    padding-left: 50px;
    padding-bottom: 30px;
    width:100%;
    filter: brightness(70%);
    transition: all  0.5s;
}
section>.headline>.content>.image>img:hover{
    filter: brightness(100%);
}
/* box behind that image */
section>.headline>.content>.image{
    position: relative;
    height:100%;
}
section>.headline>.content>.image>div{
    width:calc(100% - 20%);
    height: 280px;
    padding-right: 20%;
    background-color: #4F6F52;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
/* text-content------------ */
/* title */
section>.headline>.content>.text>.title{
    display: flex;
    gap:10px;
}
section>.headline>.content>.text>.title>p:first-child{
    background-color: #4F6F52;
    color:white;
    width: fit-content;
    font-weight: bold;
    position: relative;
    margin-right: 10px;
    transition: all 0.5s;
    padding:15px 50px 10px 15px;
}
section>.headline>.content>.text>.title>p:first-child:hover{
    background-color:white;
    color:#4F6F52;
}
section>.headline>.content>.text>.title:hover>p:first-child::after{
    background-color:white;
}
section>.headline>.content>.text>.title>p:first-child::after{
    position: absolute;
    background-color: #4F6F52;
    content: " ";
    width: 80%;
    height: 100%;
    transition: all 0.5s;
    z-index: -1;
    top:0;
    left:40px;
    transform: skew(-20deg);
}
section>.headline>.content>.text>.title>p:nth-child(2){
    background-color: rgba(78, 110, 82,.7);
    height: 41px;
    width:40px;
    transform: skew(-20deg);
}
section>.headline>.content>.text>.title>p:nth-child(3){
    background-color: rgba(78, 110, 82,.5);
    height: 41px;
    width:20px;
    transform: skew(-20deg);
}
section>.headline>.content>.text>.title>p:nth-child(4){
    background-color: rgba(78, 110, 82,.3);
    height: 41px;
    width:10px;
    transform: skew(-20deg);
}
/* timeline */
section>.headline>.content>.text>p:nth-child(2){
    padding: 25px 0;
}
/* heading */
section>.headline>.content>.text>h1{
    font-size: 40px;
    line-height: 45px;
    padding-bottom: 25px;
    transition: all 0.5s;
}
/* paragraph */
section>.headline>.content>.text>p:nth-child(4){
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 30px;
}
/* read */
section>.headline>.content>.text>div:last-child>a{
    text-decoration: none;
    color: #4F6F52;
    font-weight: bold;
}
section>.headline>.content>.text:hover h1{
    text-decoration: underline;
}
section>.headline>.content>.text:hover div>a{
    text-decoration: underline 2px;
}
section>.headline>.content>.text>div:last-child>.fa-caret-right{
    color: #4F6F52;
}
/*------------------------------------------------------------------------ mediaQurey */
@media only screen and (min-width:200px) and (max-width:600px){
/* --------------------------------------------------------headlines */
section>.headline{
    padding:50px 10px;
}
    /* headline-content-------------- */
section>.headline>.content{
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
}
/* image */
section>.headline>.content>.image>img{
    padding-left: 10px;
    padding-bottom: 10px;
    filter: brightness(70%);
    transition: all  0.5s;
}
}
/*----------------------------- matriX 3 x 3 content---------------------------- */
section>.matrix{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    row-gap: 30px;
    column-gap: 30px;
    padding: 0px 50px 30px 50px;
}
section>.matrix>div{
    width:100%;
    position: relative;
    transition: all 0.5s;
}
section>.matrix>div:hover{
    background-color: rgba(79, 112, 82,.5);
}
section>.matrix>div>img{
    position:relative;
    z-index: -2;
    height:293px;
    width:100%;
}
/* defense letter */
section>.matrix>div>.title{
 position:absolute;
}
section>.matrix>div>.title>p{
    background-color: #4F6F52;
    color: white;
    font-weight: bold;
    width:fit-content;
    padding:15px 50px 10px 20px;
    position: relative;
    transition: all 0.5s;
}
section>.matrix>div:hover .title>p{
    background-color:white;
    color:#4F6F52;
}
section>.matrix>div:hover .title>p::after{
    left:50px;
}
section>.matrix>div>.title>p::after{
    position: absolute;
    transition: all 0.5s;
    width: 100%;
    height:100%;
    content: "";
    background-color: #4F6F52;
    top:0;
    left:11px;
    z-index:-1;
    transform: skewX(-20deg);
}
/* chevron symbol */
section>.matrix>div>.fa-chevron-right{
    position: absolute;
    font-size: 30px;
    right:50%;
    top:40%;
    color:white;
    transform: rotate(-30deg);
    display: none;  
}
section>.matrix>div:hover .fa-chevron-right{
    display:block;
}
section>.matrix>div:hover>p{
    color:white;
    padding-left: 10px;
}
section>.matrix>div:hover h3{
    color: white;
    padding-left:10px;
    text-decoration:  underline white 2px;
}
/* timeline */
section>.matrix>div>p{
    color: #4F6F52;
    letter-spacing: 3px;
    padding:10px 0px;
}
section>.matrix>div>h3{
    padding-bottom: 10px;
    line-height: 25px;
}
/* mediaQurey----------------------------------------------------------------------------------------------- */
@media only screen and (min-width:200px) and (max-width:600px){
 /*----------------------------- matriX 3 x 3 content---------------------------- */
section>.matrix{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    row-gap: 30px;
    column-gap: 30px;
    padding: 0px 10px 30px 10px;
}   
}
/*----------------------------------- ---------------------------read-more button */
section>.read-more{
    display: flex;
    gap:30px;
    margin-bottom:30px;
    justify-content: flex-end;
}
section>.read-more>.icon a{
    text-decoration: none;
    color: #4F6F52;
    font-weight: bold;
    padding: 10px;
}
section>.read-more>.icon a:hover{
    background-color: #4F6F52;
    color:white;
    padding: 10px;
}
section>.read-more>.icon a:hover{
text-decoration: underline 2px;
}
/* chevron */
section>.read-more>.icon{
    display:flex;
    gap:20px;
}
section>.read-more>.icon>div>div{
    background-color: #4F6F52;
    display:inline-block;
    margin-left: 10px;
    transform: skewX(-20deg);
    transition: all 0.5s 0.5s;
}
section>.read-more>.icon>div>div .fa-caret-right{
    color:white;
    padding: 10px 20px;
    transform: skewX(20deg);
    transition: all 0.5s 0.5s;
}
/* extra Box */
section>.read-more>.extra{
    background-color: #4F6F52;
    width:200px;
}
section>.read-more>.extra p{
    padding: 10px;
    position: relative;
}
section>.read-more>.extra p::after{
    position: absolute;
    top:0;
    left: -20px;
    content: "";
    width:100%;
    height:100%;
    background-color: #4F6F52;
    transform: skewX(-20deg);
}
@media only screen and (min-width:300px) and (max-width:1025px){
    /* extra Box */
section>.read-more>.extra{
    display: none;
}
/* chevron */
section>.read-more>.icon{
    padding-right: 10px;
}
section>.read-more>.icon>div>div{
    transform: none;
}
section>.read-more>.icon>div>div .fa-caret-right{
    transform:none;
}
}
@media only screen and (min-width:300px) and (max-width:750px){
    /* chevron */
    section>.read-more>.icon{
        flex-direction: column;
        gap:5px;
        padding-right: 10px;
        align-items: flex-end;
    }
    section>.read-more>.icon>div>div{
       margin-left: 0px;
    }
}
/* ------------------------------------------about-pages common to all pages---------------------------- */
section>.about-page{
    width:100%;
    margin: 50px 0px;
    margin-bottom: 150px;
    min-height: 550px;
    position: relative;
}
section>.about-page>div:first-child{
    height:550px;
    width: 100%;
}
section>.about-page>div>img{
    width:100%;
    height:100%;
    position: relative;
    z-index: -1;
}
/* letter */
section>.about-page>div:last-child{
    display: flex;
    position: absolute;
    top:88%;
}
section>.about-page>div:last-child>div{
    background-color: #4F6F52;
    width:calc(100vw - 40vw);
    transition: all 0.5s;
}
/*--------- hover */
section>.about-page>div:last-child>div:hover{
    background-color: white;
}
section>.about-page>div:last-child>div:hover p:first-child{
    color:#4F6F52;
}
section>.about-page>div:last-child>div:hover p:first-child::after{
    background-color: white;
}
section>.about-page>div>div p:first-child{
    color:white;
    padding:35px;
    padding-top: 45px;
    font-size: 50px;
    line-height: 55px;
    font-weight: bold;
    position: relative;
}
section>.about-page>div>div p:first-child::after{
    position: absolute;
    top:0;
    right:-50px;
    width: 100%;
    height:100%;
    content:'';
    z-index: -1;
    transition: all 0.5s;
    background-color: #4F6F52;
    transform: skewX(-20deg);
}
section>.about-page>div>p:nth-child(2){
    background-color:#79AC78;
    padding:45px 0px 35px 35px;
    transform: skewX(-20deg);
}
section>.about-page>div>p:last-child{
    background-color:#618264;
    padding:45px 0px 35px 35px;
    transform: skewX(-20deg);
}
@media only screen and (min-width:300px) and (max-width:1025px){
    section>.about-page>div:last-child{
        top:100%;
    }
    section>.about-page{
        margin-bottom: 200px;
    }
}
@media only screen and (min-width:300px) and (max-width:900px){
    section>.about-page>div:last-child>div{
        width:calc(100vw - 30vw);
    }
    section>.about-page>div>div p:first-child{
        color:white;
        padding:15px;
        padding-top: 20px;
        padding-right: 0;
        font-size: 19px;
        font-weight: bold;
    }
    section>.about-page>div>p:nth-child(2){
        padding:15px;
        padding-top: 25px;
    }
    section>.about-page>div>p:last-child{
        padding:15px;
        padding-top: 25px;
    }
    section>.about-page{
        margin-bottom:150px;
    }
 
}
@media only screen and (min-width:300px) and (max-width:700px){
    section>.about-page{
        width:100%;
        min-height: 300px;
    }
    /* image            */
       section>.about-page>div:first-child{
        height:300px;
        width: 100%;
    }
}
/*-------------------------------------------------- focus-defense--------------------------- */
section>.focus-defense{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    column-gap: 30px;
    row-gap: 30px;
    padding:0 50px 50px 50px ;
}
section>.focus-defense>div{
    width:100%;
    background-color: rgba(120, 172, 119,.2);
    border-bottom: 5px solid transparent;
    transition: all 0.5s 0.5s;
    filter: brightness(70%);
}
section>.focus-defense>div:hover{
    border-bottom: 5px solid #4F6F52;
    transform: scale(1.1);
    filter: brightness(100%);
}
section>.focus-defense>div img{
    width:100%;
}
section>.focus-defense>div p{
    color: #4F6F52;
    padding:25px 10px;
    font-weight: bold;
    font-size: 20px;
}
@media only screen and (min-width:200px) and (max-width:600px){
    section>.focus-defense{
        grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
        padding:0 25px 30px 25px ;
        margin-bottom:30px;
    }
}
/*--------------------------------------------------------- customer support----------- */
section>.support{
    padding:0 50px 50px 50px;
}
section>.support>div{
    display: grid;
    column-gap: 70px;
    row-gap:30px;
    padding-bottom: 30px;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
/* image */
section>.support>div .image{
    width:100%;
    height:434px;
}
section>.support>div .image img{
    width:100%;
    height:100%;
    transition: all 0.5s;
    filter: brightness(70%);
}
section>.support>div .image  img:hover{
    filter: brightness(100%);
    transform: scale(1.1);
}
/* text */
section>.support>div .text{
    padding: 50px 50px 0 30px;
    text-align: right;
    width:100%;
    position:relative;
}
section>.support>div .text>h1{
    font-size: 35px;
    font-weight: bold;
    padding-bottom:20px;
}
section>.support>div .text>p{
    text-transform: uppercase;
    line-height:33px;
    font-size: 23px;
    padding-bottom:20px;
}
section>.support>div .text>div a{
    color:#4F6F52;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}
section>.support>div .text>div a:hover{
    text-decoration:underline 2px #4F6F52;
}
section>.support>div .text>div i{
    color: #4F6F52;
}
@media only screen and (min-width:200px) and (max-width:600px){
    section>.support{
        padding:0 25px 20px 25px;
    }
    section>.support>div{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
    /* image */
    section>.support>div .image{
        height:300px;
    }
/*----------------- text */

section>.support>div .text{
    padding: 20px 10px 0 10px;
}
section>.support>div .text>h1{
    font-size:20px;
    text-align:center;
    line-height: 27px;
    padding-bottom:20px;
}
section>.support>div .text>p{
    line-height:20px;
    font-size:15px;
    padding-bottom:10px;
}
}
/* -------------------------------------------------------fOOter------------------------------------------- */
/*------------------------------------------------------- box1 */
footer>.box1{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    padding: 50px;
    margin-top: 100px;
    row-gap: 30px;
    column-gap: 30px;
    background-color:#4F6F52;

}
/* newsletter SubscriptioN --------------------------------------------*/
footer>.box1>.mail{
    width:100%;
}
/* heading */
footer>.box1>.mail>.title>h2{
    color: white;
    display: inline-block;
    padding-bottom: 20px;
}
footer>.box1>.mail>.title>i{
    font-size: 22px;
    color:white;
    padding-left: 10px;
}
/* -------Form */
footer>.box1>.mail>form{
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: white;
    padding:40px;
}
footer>.box1>.mail>form>button{
    color:white;
    width: fit-content;
    padding:20px 40px;
    border: none;
    background-color: #4F6F52;
    font-size: 20px;
}
footer>.box1>.mail>form>button i{
    padding-left: 10px;
}

/* ------------eMail */
footer>.box1>.mail>form>.email{
    background-color: white;
    position: relative;
}
footer>.box1>.mail>form>.email input{
    padding:15px 20px;
    width:100%;
    font-size: 20px;
    outline: none;
}
footer>.box1>.mail>form>.email label{
    position: absolute;
    left:20px;
    bottom:42px;
    background-color:white;
    padding: 0px 5px;
}
/* ---------------radioButtoN */
footer>.box1 form>.radio{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
footer>.box1 form>.radio p{
    padding-bottom: 5px;
    width: 100%;
}
footer>.box1 form>.radio label{
    color:#4F6F52;
    font-weight: bold;
    padding-right:15px;
}
footer>.box1 form>.radio input{
    margin-right: 10px ;
}
footer>.box1 form>.radio input[type="radio"]{
    transform: scale(1.3);    /* -------------------------------------To show radio button bigger */
}
/* --------------checkbox */
footer>.box1 form>.checkbox{
    display: flex;
    align-items:flex-start;
    gap:15px;
}
footer>.box1 form>.checkbox>input[type="checkbox"]{
    transform: scale(1.4);
}
footer>.box1 form>.checkbox>p{
    line-height: 22px;
    text-align: justify;
}
footer>.box1 form>.checkbox a{
    text-decoration: none;
}
footer>.box1 form>.checkbox a:hover{
    text-decoration:underline 2px;
}
/* ----------------privacy */
footer>.box1 form>.policy{
    padding:0 0 20px 50px;
}
footer>.box1 form>.policy a{
    text-decoration: none;
}
footer>.box1 form>.policy a:hover{
    text-decoration:underline 2px;
}
/* stay ConnecteD --------------------------------------------*/
footer>.box1>.stay{
    width:100%;
}
footer>.box1>.stay>h1{
    padding-bottom:20px;
    color: white;
}
footer>.box1>.stay>div{
    border: 10px solid #445D48;
    background-color: #4F6F52;
    overflow: hidden;
    position: relative;
    height:91.5%;
}
/* icons */
footer>.box1>.stay .icon{
    margin-top:calc(100% - 65%);
    padding:50px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
}
footer>.box1>.stay .icon>i{
    color:white;
    background-color: #445D48;
    display: inline-block;
    height:50px;
    width:50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
/* skew */
footer>.box1>.stay>div>p{
    background-color: #445D48;
    width:130px;
    transform: skewX(-30deg);
}
footer>.box1>.stay>div>p{
    left:-10px;
    position: absolute;
}
footer>.box1>.stay>div>h1{
    background-color: #445D48;
    width:130px;
    transform: skewX(-30deg);
    font-size: 16px;
    position: absolute;
    bottom:0;
    right:-10px;
}
/*------------------------------------------------------- box2 */
footer>.box2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    background-color: #0B2447;
    padding:100px;
    row-gap: 30px;
    column-gap: 30px;
}
footer>.box2>div>div{
    display: flex;
    gap:15px;
    flex-direction: column;
}
footer>.box2 a{
    color:white;
    display: block;
    text-decoration: none;
    transition: all 0.5s 2s;
}
footer>.box2 a:hover{
    text-decoration: underline 2px;
}
footer>.box2 i{
    color:white;
}
footer>.box2>div>div>div{
    display: flex;
    gap:10px;
}
footer>.box2 h2{
    color:white;
    padding-bottom:30px;
}
/*------------------------------------------------------- box3 */
footer>.box3>div{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
footer>.box3>div>p{
    padding-bottom: 15px;
}
footer>.box3>div>div{
    display: flex;
    gap: 20px;
}
footer>.box3>div>div a{
    color:#0B2447;
    transition: all 2s 1s;
    text-decoration: none;
}
footer>.box3>div>div a:hover{
    text-decoration:underline 2px;
}
footer>.box3{
    position: relative;
}
footer>.box3>a{
    position: absolute;
    background-color: rgba(23, 73, 99,.8);
    color: white;
    text-decoration: none;
    padding:10px 20px;
    bottom:0;
}
footer>.box3>a:hover{
    text-decoration: underline 2px;
    background-color: rgba(23, 73, 99,1);
}
@media only screen and (min-width:300px) and (max-width:590px){
/* -------------------------------------------------------fOOter------------------------------------------- */
    /*------------------------------------------------------- box1 */
    footer>.box1{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        padding: 10px;
    }
        /* newsletter SubscriptioN --------------------------------------------*/
    footer>.box1>.mail{
        width:100%;
    }
    /* heading */
    footer>.box1>.mail>.title>h2{
        font-size:18px;
        padding:10px 0;
    }
    footer>.box1>.mail>.title>i{
        padding-bottom: 10px;
    }
    /* -------Form */
    footer>.box1>.mail>form{
        padding:10px;
    }
    /* ---------------radioButtoN */
    footer>.box1 form>.radio{
        display: flex;
        flex-direction: column;
        gap:15px;
    }
    /* ----------------privacy */
    footer>.box1 form>.policy{
        padding:0 0 20px 0px;
        text-align: justify;
        line-height: 20px;
    }
    /* stay ConnecteD --------------------------------------------*/
    footer>.box1>.stay{
        width:100%;
    }
    footer>.box1>.stay>div{
        height:none;
    }
    /*------------------------------------------------------- box2 */
    footer>.box2{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        padding:30px;
        row-gap: 30px;
    }
    /*------------------------------------------------------- box3 */
    footer>.box3>div{
        display: flex;
        flex-direction: column;
    }
    footer>.box3>div>div{
        flex-direction: column;
    }            
}
@media only screen and (min-width:300px) and (max-width:1275px){

                                        /*------------group intro-------- */
    section>.group .intro{
        margin-top:50px;
        position: relative;
    }
}
@media only screen and (min-width:300px) and (max-width:829px){
    /* ------------------footer------------------- */
    /*---- stay connected--- */
    /* icons */
    footer>.box1>.stay .icon{
        margin-top:0;
        padding-left:10px;
        padding-right:10px;
    }
    footer>.box1>.stay{
        height: fit-content;
    }
}
