@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/*------------------------------- navigationBar---------------------- */
nav{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    z-index: 11;
    background-color: white;
    width:100%;
    padding:0px 30px;
    justify-content: space-between;
}
/* companyLogo */
nav>img[alt="Dassault System"]{
    height:70px;
    margin: 10px 0px;
    object-fit:cover;
}
/* submenu */
nav>.submenu{
    display: flex;
    gap:30px;
    align-items: center;
}
nav>.submenu .menu>a{
    font-size: 25px;
    text-transform:capitalize;
    text-decoration:none;
    color:black;
}
nav>.submenu>div{
    height:90px;
    padding-top:35px ;
}
nav>.submenu>div{
    border-bottom: 3px solid transparent;
}

    /* barIcon */
nav>label .fa-bars{
    display: none;
}
/* ------------------------------------------submenu dropdown----------------------------------- */
nav .submenu>.menu:first-child:hover{
    border-bottom:3px solid #164863;
} 
nav .submenu>.menu:nth-child(2):hover{
    border-bottom:3px solid #4F6F52;
} 
nav .submenu>.menu:nth-child(3):hover{
    border-bottom:3px solid #116530;
} 
nav .submenu>.menu:nth-child(4):hover{
    border-bottom:3px solid #CD5C08;
} 
nav .submenu>.menu:last-child{
    border-bottom:3px solid #D80032;
} 

nav .submenu .menu .dropdown{
    position:absolute;
    top:92px;
    left:50px;
    width:calc(100% - 100px);
    padding:40px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    column-gap: 20px;
    visibility: hidden;
    transition: all 0.1s;
    background-color: white;
    z-index:10;
}
nav .submenu .menu:hover .dropdown{
    visibility:visible;
}
/* dropdown headings h3*/
nav .submenu .menu .dropdown div h3{
    text-transform: capitalize;
    padding-bottom:20px;
    line-height: 25px;
    text-decoration:none;
}
nav .submenu .menu .dropdown div h3>a{
    text-decoration: none;
}
nav .submenu .menu .dropdown div h3>a:hover{
   text-decoration: underline 2px;
}
/* webtv that convert into inline */
nav .submenu .menu .dropdown>div div h3{
    display: inline-block;
}
/* anchor that convert into block */
nav .submenu .menu .dropdown div a{
    display:block;
    color: black;
}
/* anchor that convert into block */
nav .submenu .menu .dropdown div .anchor{
    display:inline-block;
}
nav .submenu .menu .dropdown div .pad-top{
    padding-top:20px;
}
nav .submenu .menu .dropdown div>a{
    padding-bottom:7px;
    line-height: 20px;
    text-decoration: none;
}
nav .submenu .menu .dropdown div>a:hover{
    text-decoration: underline;
}
/* navIcons */
nav>.navicons{
    font-size: 25px;
    display: flex;
    gap:40px;
    align-items: center;
    border-bottom: 3px solid transparent;
}
nav>.navicons i{
    height: 90px;
    padding-top: 35px;
    border-bottom: 3px solid transparent;
    transition: all 1s;
}
nav>.navicons .icon>i:hover{
    border-bottom: 3px solid #D80032;
}
/* -----------camera,wrench,magnifier dropdown ------------*/
nav>.navicons .icon>.dropdown{
    position:absolute;
    top:92px;
    left:67%;
    padding:20px;
    display: none;
    z-index:10;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
nav>.navicons .icon>.dropdown>div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    height:50px;
}
nav>.navicons .icon>.dropdown>div span{
    text-transform:capitalize;
    font-size:18px;
    text-decoration: underline transparent;
}
nav>.navicons .icon>.dropdown>div span:hover{
    text-decoration: underline;
}
nav>.navicons .icon:hover .dropdown{
    display:block;
}
/* wrench */
nav>.navicons .wrench>.dropdown{
    left:65%;
    width:400px;
    padding:20px 30px;
}
/* magnifier */
nav>.navicons .magnifier>.dropdown{
    position: absolute;
    top:92px;
    left:10%;
    width:calc(100% - 20%);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display:flex;
    align-items: center;
    background-color: white;
    z-index:10;
    padding:10px 0px;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
nav>.navicons .magnifier #mag:checked~.dropdown{
    display:flex;
}
nav>.navicons .magnifier .dropdown input{
    display: block;
    width:calc(100% - 30%);
    height:50px;
    outline:none;
    font-size: 20px;
    padding-left: 10px;
}

/* label_input */
nav>label,nav input{
    display:none;
}
/* barIcon */
nav>label i{
    font-size:30px;
    background-color: coral;
}
/* selectLanguage */
select{
    font-size: 20px;
    outline: none;
    border: none;
    transition: all 1s;
    border-bottom: 3px solid transparent;
}
select:hover{
    border-bottom: 3px solid #D80032;
}
/* mediaQurey */
@media only screen and (min-width:200px) and (max-width:1275px){
    nav>.submenu{
        position:absolute;
        top:50px;
        right:-100%;
        justify-content: center;
        flex-direction: column;
        gap:10px;
        width:calc(100% - 30%);
        width:470px;
        align-items: center;
        padding: 20px 0;
        background-color:white;
        transition: all 0.5s;
        z-index:10;
    }
    nav>#lbl:checked~.submenu{
        display: flex;
        right:0;
    }
    nav>.submenu .menu>a{
       height: fit-content;
    }
    nav>.navicons .fa-camera,nav>.navicons .fa-wrench{
        display: none;
    }
    nav>.navicons label>.fa-magnifying-glass{
        position: absolute;
        top:0;
        padding-top:15px ;
        right:65px;
    }
    nav>.navicons i{
        height: 0px;
        padding-top: 20px;
    }
    select{
        display: none;
    }
    nav{
        height:50px;
        padding-left:10px;
    }
    /* label */
    nav>label{
        display:block;
    }
    /* barIcon */
    nav>label .fa-bars{
        display: grid;
        position: absolute;
        right:0;
        top:0;
        color:white;
        padding:10px;
    }
    /* companyLogo */
    nav>img[alt="Dassault System"]{
        height:40px;
        margin:5px 0px;
    }
    /* showing nav dropdown when hover */
    nav .submenu .menu .dropdown>div>a,nav .submenu .menu .dropdown>div .anchor,nav .submenu .menu .dropdown>div .fa-arrow-up-right-from-square {
        display: none;
    }
    nav .submenu .menu .dropdown>div>h3:hover~a,nav .submenu .menu .dropdown>div>h3:hover~div .anchor,nav .submenu .menu .dropdown>div .fa-arrow-up-right-from-square:hover .fa-arrow-up-right-from-square {
        display: grid;
    }
    /* dropdown headings h3*/
    nav .submenu .menu .dropdown div h3{
       padding-bottom:10px;
    }
    /* magnifier */
    nav>.navicons .magnifier .dropdown i{
        height:10px;
        padding:0;
        padding-bottom: 20px;
    }
    nav>.navicons .magnifier>.dropdown{
        top:50px;
    }
    /* magnifier */
    nav>.navicons .magnifier>.dropdown{
        left:0%;
        width:calc(100% - 0%);
        padding:10px 0px;
    }
    
}
@media only screen and (min-width:200px) and (max-width:475px){
    nav>.submenu{
        width:100%;
        padding:30px;
    }
    nav>.submenu>div{
        height:fit-content;
        padding-top:0px;
    }
    nav .submenu .menu .dropdown{
        padding:20px;
        top:calc(100% - 0%);
        left:0;
        width:100%;
    }
    /* magnifier dropdown search letter */
    nav>.navicons .magnifier .dropdown label{
       display: none;
    }
    nav>.navicons .magnifier .dropdown input{
        border:1px solid  #427D9D ;
    }
    nav>.navicons label>.fa-magnifying-glass{
        padding-top:15px;
        right:60px;
    }

}
/* anchor */
nav .submenu .menu .group div h3>a{
    color:#164863;
}
nav .submenu .menu .defense div h3>a{
    color:#4F6F52;
}
nav .submenu .menu .civil div h3>a{
    color:#116530;
}
nav .submenu .menu .space div h3>a{
    color:#CD5C08;
}
nav .submenu .menu .passion div h3>a{
    color:#D80032;
}
nav .submenu>.menu:nth-child(2){
    border-bottom:3px solid white;
    transition: all 1s;
}
nav .submenu>.menu:nth-child(3){
    border-bottom:3px solid white;
    transition: all 1s;
}
nav .submenu>.menu:nth-child(4){
    border-bottom:3px solid white;
    transition: all 1s;
}
nav .submenu>.menu:nth-child(1){
    border-bottom:3px solid white;
    transition: all 1s;
}












/* -------------------------------------------------------fOOter------------------------------------------- */
footer{
    margin-top:93px;
}
/*------------------------------------------------------- box1 */
footer>.box1{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    padding: 50px;
    row-gap: 30px;
    column-gap: 30px;
    background-color: #D80032;

}
/* newsletter SubscriptioN --------------------------------------------*/
footer>.box1>.mail{
    width:100%;
}
/* heading */
footer>.box1>.mail>.title>h2{
    color: white;
    display: inline-block;
    padding-bottom: 20px;
}
footer>.box1>.mail>.title>i{
    font-size: 22px;
    color:white;
    padding-left: 10px;
}
/* -------Form */
footer>.box1>.mail>form{
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: white;
    padding:40px;
}
footer>.box1>.mail>form>button{
    color:white;
    width: fit-content;
    padding:20px 40px;
    border: none;
    background-color: #D80032;
    font-size: 20px;
}
footer>.box1>.mail>form>button i{
    padding-left: 10px;
}

/* ------------eMail */
footer>.box1>.mail>form>.email{
    background-color: white;
    position: relative;
}
footer>.box1>.mail>form>.email input{
    padding:15px 20px;
    width:100%;
    font-size: 20px;
    outline: none;
}
footer>.box1>.mail>form>.email label{
    position: absolute;
    left:20px;
    bottom:42px;
    background-color:white;
    padding: 0px 5px;
}
/* ---------------radioButtoN */
footer>.box1 form>.radio{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
footer>.box1 form>.radio p{
    padding-bottom: 5px;
    width: 100%;
}
footer>.box1 form>.radio label{
    color:#D80032;
    font-weight: bold;
    padding-right:15px;
}
footer>.box1 form>.radio input{
    margin-right: 10px ;
}
footer>.box1 form>.radio input[type="radio"]{
    transform: scale(1.3);    /* -------------------------------------To show radio button bigger */
}
/* --------------checkbox */
footer>.box1 form>.checkbox{
    /* background-color: aquamarine; */
    display: flex;
    align-items:flex-start;
    gap:15px;
}
footer>.box1 form>.checkbox>input[type="checkbox"]{
    transform: scale(1.4);
}
footer>.box1 form>.checkbox>p{
    line-height: 22px;
    text-align: justify;
}
footer>.box1 form>.checkbox a{
    text-decoration: none;
}
footer>.box1 form>.checkbox a:hover{
    text-decoration:underline 2px;
}
/* ----------------privacy */
footer>.box1 form>.policy{
    padding:0 0 20px 50px;
}
footer>.box1 form>.policy a{
    text-decoration: none;
}
footer>.box1 form>.policy a:hover{
    text-decoration:underline 2px;
}
/* stay ConnecteD --------------------------------------------*/
footer>.box1>.stay{
    width:100%;
    /* background-color: aquamarine; */
}
footer>.box1>.stay>h1{
    padding-bottom:20px;
    color: white;
}
footer>.box1>.stay>div{
    border: 10px solid #F31559;
    background-color: #D80032;
    overflow: hidden;
    position: relative;
    height:91.5%;
}
/* icons */
footer>.box1>.stay .icon{
    margin-top:calc(100% - 65%);
    padding:50px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
}
footer>.box1>.stay .icon>i{
    color:white;
    background-color: #F31559;
    display: inline-block;
    height:50px;
    width:50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
/* skew */
footer>.box1>.stay>div>p{
    background-color: #F31559;
    width:130px;
    transform: skewX(-30deg);
}
footer>.box1>.stay>div>p{
    left:-10px;
    position: absolute;
}
footer>.box1>.stay>div>h1{
    background-color: #F31559;
    width:130px;
    transform: skewX(-30deg);
    font-size: 16px;
    position: absolute;
    bottom:0;
    right:-10px;
}
/*------------------------------------------------------- box2 */
footer>.box2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    background-color: #0B2447;
    padding:100px;
    row-gap: 30px;
    column-gap: 30px;
}
footer>.box2>div>div{
    display: flex;
    gap:15px;
    flex-direction: column;
}
footer>.box2 a{
    color:white;
    display: block;
    text-decoration: none;
    transition: all 0.5s 2s;
}
footer>.box2 a:hover{
    text-decoration: underline 2px;
}
footer>.box2 i{
    color:white;
}
footer>.box2>div>div>div{
    display: flex;
    gap:10px;
}
footer>.box2 h2{
    color:white;
    padding-bottom:30px;
}
/*------------------------------------------------------- box3 */
footer>.box3>div{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
footer>.box3>div>p{
    padding-bottom: 15px;
}
footer>.box3>div>div{
    display: flex;
    gap: 20px;
}
footer>.box3>div>div a{
    color:#0B2447;
    transition: all 2s 1s;
    text-decoration: none;
}
footer>.box3>div>div a:hover{
    text-decoration:underline 2px;
}
footer>.box3{
    position: relative;
}
footer>.box3>a{
    position: absolute;
    background-color: rgba(23, 73, 99,.8);
    color: white;
    text-decoration: none;
    padding:10px 20px;
    bottom:0;
}
footer>.box3>a:hover{
    text-decoration: underline 2px;
    background-color: rgba(23, 73, 99,1);
}
@media only screen and (min-width:300px) and (max-width:590px){
/* -------------------------------------------------------fOOter------------------------------------------- */
    /*------------------------------------------------------- box1 */
    footer>.box1{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        padding: 10px;
    }
        /* newsletter SubscriptioN --------------------------------------------*/
    footer>.box1>.mail{
        width:100%;
    }
    /* heading */
    footer>.box1>.mail>.title>h2{
        font-size:18px;
        padding:10px 0;
    }
    footer>.box1>.mail>.title>i{
        padding-bottom: 10px;
    }
    /* -------Form */
    footer>.box1>.mail>form{
        padding:10px;
    }
    /* ---------------radioButtoN */
    footer>.box1 form>.radio{
        display: flex;
        flex-direction: column;
        gap:15px;
    }
    /* ----------------privacy */
    footer>.box1 form>.policy{
        padding:0 0 20px 0px;
        text-align: justify;
        line-height: 20px;
    }
    /* stay ConnecteD --------------------------------------------*/
    footer>.box1>.stay{
        width:100%;
    }
    footer>.box1>.stay>div{
        height:none;
    }
    /*------------------------------------------------------- box2 */
    footer>.box2{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        padding:30px;
        row-gap: 30px;
    }
    /*------------------------------------------------------- box3 */
    footer>.box3>div{
        display: flex;
        flex-direction: column;
    }
    footer>.box3>div>div{
        flex-direction: column;
    }            
}
@media only screen and (min-width:300px) and (max-width:1275px){

                                        /*------------group intro-------- */
    section>.group .intro{
        margin-top:50px;
        position: relative;
    }
}
@media only screen and (min-width:300px) and (max-width:829px){
    /* ------------------footer------------------- */
    /*---- stay connected--- */
    /* icons */
    footer>.box1>.stay .icon{
        margin-top:0;
        padding-left:10px;
        padding-right:10px;
    }
    footer>.box1>.stay{
        height: fit-content;
    }
}